@page
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>识别关注，继续参与活动</title>
    <link href="../../../css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="text-align:center">
    <img style="width:100%" src="../../../images/follow_official_account.jpg" />
</body>
</html>
